body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: gainsboro;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.noteid{
    float: right;
}
.ts {
    font-size: 10px;
    font-weight: bolder;
}

.post-message{
    background-color:antiquewhite;
    border-radius: 8px;
    margin: 5px;
    padding: 13px;
}

.post-wrapper{
    background-color: rgb(182, 255, 0, 0.7);
    border-radius: 14px;
    margin: 6px;
    padding: 10px;
    max-width: 450px;
}

.img-gutters{
    border-radius: 30px;
    width: 30%;
}